# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# IDE and editor folders
.idea/
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Dataset folder
dataset/
